<fieldset>
  <legend>New Return</legend>
  <table>
    <thead></thead>
    <tbody>
      <form action="">
        <tr>
          <td></td>
        </tr>
      </form>
    </tbody>
  </table>
</fieldset>
